.table {
    width: 80%;
    border-bottom: 2px solid;
    background-color: rgba(93, 89, 94, 0.199);
    display: flex;
}
.table div {
    width: 20%
}

.menu button{
    background-color: rgba(18, 57, 139, 0.34);
    border-radius: 10px;
}
