.switch {

    position: relative;
    display: inline-block;
    width: 90px;
    height: 36px;
    margin-bottom: 50px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(93, 89, 94, 0.199);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 6px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 34px;
    width: 32px;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    background-color: white;
    transition: 0.4s;
    border-radius: 6px;
}

input:checked + .slider {
    background-color: #3F51B5;
}

input:focus + .slider {
    box-shadow: 0 0 1px #a7cef8;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(55px);
}

.slider:after {
    content: 'All';
    color: white;
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 10px;
    font-family: Verdana, sans-serif;
}

input:checked + .slider:after {
    content: 'My';
}