.table {
    width: 80%;
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
    border-color: rgba(18, 57, 139, 0.34);
    background-color: white;
    display: flex;
}
.table div {
    width: 20%;
    display: inline;
}
.table input {
    max-width: 100%;
}
.table a {
    color: black;
}
.menu button{
    background-color: #3F51B5;
    font-size: 15px;
    color: white;
    width: 50%;
    border-radius: 5px;
}
