.default {
    appearance:none;
    -webkit-appearance:none;
    padding:10px;
    border:none;
    background-color:#3F51B5;
    color:#fff;
    font-weight:600;
    border-radius:5px;
    width:5%;
}

.red {
    background: red;
    appearance:none;
    -webkit-appearance:none;
    padding:10px;
    border:none;
    color:#fff;
    font-weight:600;
    border-radius:5px;
    width:5%;
}