@mixin boxShadow($w: 0.2) {
  -webkit-box-shadow: 0px 0px 6px -2px rgba(34, 60, 80, $w);
  -moz-box-shadow: 0px 0px 6px -2px rgba(34, 60, 80, $w);
  box-shadow: 0px 0px 6px -2px rgba(34, 60, 80, $w);
}


.profile {
  text-align: start;

  .profile__inner {
    display: flex;
    margin: 30px 0;
    padding: 50px 30px;
    border-radius: 5px;
    background-color: #fff;
    @include boxShadow();
    .profile__info{
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
    }
    .profile__avatar {
        img {
          width: 200px;
          height: 200px;
        }
    }

    .profile__description {

    }
  }
}
