.error{
	color: red;
	font-weight: bolder;
}


.wrapContainer {
	color: rgba(18, 57, 139, 0.8);
	position: relative;
	width: 1280px;
	height: 720px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.container {
	position: absolute;
	width: 413px;
	height: 380px;
	left: 434px;
	top: 84px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	background-color: #F9F9FE;
	border-radius: 8px;
	padding: 20px;
}
.button {
	flex-direction: row;
}

.link {
	font-family: 'Poppins', sans-serif;
	text-align: center;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	color: #21268F;
	text-decoration: none;
}
